{% extends 'base.html.twig' %}

{% block title %}Edit Coverage
{% endblock %}

{% block body %}
	<h1>Edit Coverage</h1>

	{{ include('coverage/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_coverage_index') }}">
		<button class="btn btn-secondary">back to list</button>
	</a>

	{{ include('coverage/_delete_form.html.twig') }}
{% endblock %}
