{% extends 'base.html.twig' %}

{% block title %}Edit Gender
{% endblock %}

{% block body %}
	<h1>Edit Gender</h1>

	{{ include('gender/_form.html.twig', {'button_label': 'Update'}) }}
	{{ include('gender/_delete_form.html.twig') }}

	<a href="{{ path('app_gender_index') }}">
		<button class="btn btn-info">
			<button class="btn btn-secondary">back to list</button>
		</button>
	</a>


{% endblock %}
