{% extends 'base.html.twig' %}

{% block title %}Stuff
{% endblock %}

{% block body %}
	<h1>Car4Sure</h1>
	{{include('policy/list.html.twig',{'policies': policies})}}
	{{include('vehicle/list.html.twig',{'vehicles': vehicles})}}
	{{include('driver/list.html.twig',{'drivers': drivers})}}
{% endblock %}
