{% extends 'base.html.twig' %}

{% block title %}Edit Policy
{% endblock %}

{% block body %}
	<h1>Edit Policy</h1>

	{{ include('policy/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_policy_index') }}">
		<button class="btn btn-secondary">back to list</button>
	</a>

	{{ include('policy/_delete_form.html.twig') }}
{% endblock %}
