{% extends 'base.html.twig' %}

{% block title %}New Policy
{% endblock %}

{% block body %}
	<h1>Create new Policy</h1>

	{{ include('policy/_form.html.twig') }}

	<a href="{{ path('app_policy_index') }}">
		<button class="btn btn-secondary">back to list</button>
	</a>
{% endblock %}
