{% extends 'base.html.twig' %}

{% block title %}New PolicyHolder
{% endblock %}

{% block body %}
	<h1>Create new PolicyHolder</h1>

	{{ include('policy_holder/_form.html.twig') }}

	<a href="{{ path('app_policy_holder_index') }}">
		<button class="btn btn-secondary">back to list</button>
	</a>
{% endblock %}
